AI Lead Machine Agent.json
{
  "name": "AI Lead Machine Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Machine",
        "formDescription": "Provide the Info Below",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Type",
              "placeholder": "e.g. Plumber",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "placeholder": "e.g. Rome, Italy",
              "requiredField": true
            },
            {
              "fieldLabel": "Lead Number",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Friendly"
                  },
                  {
                    "option": "Professional"
                  },
                  {
                    "option": "Simple"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "GO 🚀"
        }
      },
      "id": "5ba87eb5-0d64-4715-b145-407169c48ade",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -2000,
        16
      ],
      "webhookId": "d544d556-be64-449e-9bde-d2b040aed13a",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=Create and paste your URL here from API",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.Location }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Lead Number'] }},\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $json['Business Type'] }}\"\n    ],\n    \"skipClosedPlaces\": false\n}",
        "options": {}
      },
      "id": "0bbd1a1c-e59e-46b7-974f-bf479ea85d0d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1744,
        16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# Business Data",
        "height": 336,
        "width": 752,
        "color": 3
      },
      "id": "0350d7d3-60a0-490d-b521-1dea869cf927",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2048,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=Website: {{ $json.website }}",
        "attributes": {
          "attributes": [
            {
              "name": "Email Address",
              "description": "=find out the best only one email address from the website after scraping the website. The mail address have to be in ideal format.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "2f44d23e-b3ec-46b8-88aa-ee59769188e5",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -1232,
        16
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ae5ad72f-d05e-45d4-8d9d-2d34b730055a",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1104,
        192
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "YBmIA0FggSBIGw1k",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0906e21a-0958-433e-b400-8694915ef3c9",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "215dc61f-d7c9-41b0-98e8-d7c81f3436b3",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1488,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1K40LcaovykjMaV6muayX7KMD-hsrCHhKR4QmUF7V9lw",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K40LcaovykjMaV6muayX7KMD-hsrCHhKR4QmUF7V9lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K40LcaovykjMaV6muayX7KMD-hsrCHhKR4QmUF7V9lw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $('Filter').item.json.title }}",
            "Category": "={{ $('Filter').item.json.categoryName }}",
            "Website": "={{ $('Filter').item.json.website }}",
            "Phone No": "={{ $('Filter').item.json.phoneUnformatted }}",
            "Email Address": "={{ $json.output['Email Address'] }}",
            "Address": "={{ $('Filter').item.json.address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cold Mail Status",
              "displayName": "Cold Mail Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Send Time",
              "displayName": "Send Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b87c3188-9a5a-4eb2-b8f3-7965a72acc4a",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -528,
        0
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86w6fju7R4maxrti",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0601f2d2-2522-471e-9e11-29498a47e19a",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output['Email Address'] }}",
              "rightValue": "@"
            }
          ]
        },
        "options": {}
      },
      "id": "c8ea8251-d092-421c-991e-d56062bd886a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -816,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "c23abf59-82f8-4e7b-84e5-b13c2d634e33",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -688,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Getting the Email Address",
        "height": 416,
        "width": 1136,
        "color": 4
      },
      "id": "c8af4316-89f1-41ee-b003-347c32fc75e8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "={{ $('Information Extractor1').item.json.output['Mail Subject'] }}",
        "emailType": "text",
        "message": "={{ $('Information Extractor1').item.json.output['Mail Body'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "37191daa-6a08-4d42-974b-880b5ecc6392",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "maxTries": 2,
      "position": [
        -656,
        400
      ],
      "webhookId": "9ce15ceb-1aeb-4dd7-b269-f981f431c05f",
      "executeOnce": false,
      "retryOnFail": false,
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "GAhXiv7r8wsStePU",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "=You are a perfect cold mail generator for a Digital Marketing Agency named Upward Engine.\n\nHere's the Information about the Recipient:\n\nCompany Name: {{ $('Loop Over Items').item.json['Company Name'] }}\nBusiness Type: {{ $('Loop Over Items').item.json.Category }}\n\nEmail Style / Email Tune : {{ $json['Email Style'] }}\n\nThe Email style is given just to understand how the mail will be.\n\nInstructions:\n\n1. Always start with giving a greting to the Company like Hi Company Name,\n2. Always use We not I.\n3. Mail have to be professional, Clean and to the point\n4. At last give a Signature Like:\n   [Ajay Kumar\n  [Disha Enterprises]",
        "attributes": {
          "attributes": [
            {
              "name": "Mail Subject",
              "description": "Eye catchy mail Subject for the cold mail",
              "required": true
            },
            {
              "name": "Mail Body",
              "description": "=body message of the mail, a perfect and clear cold mail.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "c54ea6e1-ff81-4405-9f53-a57de7b28817",
      "name": "Information Extractor1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -1360,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "41c19c99-4e69-43c2-a7f9-f687b22cd9bd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1312,
        544
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "tRqygneydtQJQ6Qv",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K40LcaovykjMaV6muayX7KMD-hsrCHhKR4QmUF7V9lw",
          "mode": "list",
          "cachedResultName": "Lead Generation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K40LcaovykjMaV6muayX7KMD-hsrCHhKR4QmUF7V9lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K40LcaovykjMaV6muayX7KMD-hsrCHhKR4QmUF7V9lw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cold Mail Status": "Yes",
            "Email Address": "={{ $('Information Extractor').item.json.output['Email Address'] }}",
            "Send Time": "={{ $('Edit Fields1').item.json['Send Time'] }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cold Mail Status",
              "displayName": "Cold Mail Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Time",
              "displayName": "Send Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "77a631d4-e49c-4dc1-a423-40458e610c70",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -416,
        400
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "86w6fju7R4maxrti",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Email Send",
        "height": 320,
        "width": 1936,
        "color": 5
      },
      "id": "706f1827-2a30-488b-bc19-c8fccd7898a7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2064,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ab73a5e-6659-4615-9f03-a1b3dacaa42e",
              "name": "Send Time",
              "type": "string",
              "value": "={{$now.toFormat(\"MM-dd-yyyy (h:mm a)\")}}"
            },
            {
              "id": "a102af99-f990-4f54-aa19-96a4c8002a9b",
              "name": "Email Address",
              "type": "string",
              "value": "={{ $('Wait').item.json['Email Address'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9499706a-a360-408a-a696-074870b46e97",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        -960,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "28fd3265-17aa-45f7-96dc-c48930b7effd",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1856,
        384
      ],
      "notesInFlow": false,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "ecbe845d-7e3a-44f5-b6b9-fa6637e4f499",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1568,
        400
      ],
      "webhookId": "a8a457d5-f88d-451c-ac51-1af17c8435b0",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![I Built an Auto Lead Finder AI Agent](https://img.youtube.com/vi/3UwutV1x3mA/sddefault.jpg)](https://youtu.be/3UwutV1x3mA?si=FtH1dNr5dtnOFedD)",
        "height": 464,
        "width": 480
      },
      "id": "cdf33924-5e2f-4072-9905-49a5b5daa328",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n---\n\n# 🛠 Setup Guide\n\nFollow these steps to get started:\n\n1. **Set up the Lead Machine Form**\n   Customize the form fields (Business Type, Location, Lead Number, Email Style) in the **Form Trigger** node. This is how you collect the target lead criteria.\n\n2. **Plug in your [Apify](https://apify.com/) API endpoint**\n   Replace `Apify_Actor_Endpoint_URL` in the **HTTP Request** node with your own Apify actor URL to scrape business data.\n\n3. **Add your [Google Gemini](https://aistudio.google.com/apikey) credentials**\n   This is used in the **Information Extractor** node to find the best email address from a business website.\n\n4. **Connect your [Google Sheets](https://docs.google.com/spreadsheets/)**\n   Link the sheet in both **Append row** and **Append/Update row** nodes. Make sure your sheet has columns for Company Name, Website, Phone, Email, Address, Category, Cold Mail Status, and Send Time.\n\n5. **Add your [OpenAI](https://platform.openai.com/) API key**\n   This powers the cold email generation in the **Information Extractor1** node for subject & body creation.\n\n6. **Connect your [Gmail](https://mail.google.com/) account**\n   In the **Send a message** node, link your Gmail account to send the cold emails automatically.\n\nOnce all connections are set, your workflow will **collect leads, store them, and send cold emails automatically** 🚀\n\n---\n",
        "height": 672,
        "width": 1200
      },
      "id": "9e2bf839-0385-4e5e-926a-09004c71a0ef",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        384
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d82c0470-cc8e-493d-8f90-598dbf4305e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0cfd5d818d524baf5620a068672078a2b6a261b2f22ee3f8a56caf345a7caaf"
  },
  "id": "ZL3SotlE4d-BkRN9PNNnf",
  "tags": []
}